Options -Indexes
ServerSignature Off

ErrorDocument 403 /#!/
ErrorDocument 404 /#!/

AddDefaultCharset utf-8
AddCharset utf-8 .css .js .xml .json .rss .atom

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . / [L]
</IfModule>